<!-- new-produit.component.html -->
<form [formGroup]="produitForm" (ngSubmit)="ajouterProduit()">
    <div>
      <label for="nom">Nom du Produit:</label>
      <input type="text" id="nom" formControlName="nom" required>
    </div>
    <div>
      <label for="prix">Prix:</label>
      <input type="number" id="prix" formControlName="prix" min="0">
    </div>
    <div>
      <label for="quantite">Quantité:</label>
      <input type="number" id="quantite" formControlName="quantite" min="0">
    </div>
    <button type="submit">Ajouter le produit</button>
  </form>
  